<div class="container">
	<div class="row">

		<div class="col-lg-3"></div>

		<div class="col-lg-6" style="background-color: white;">

			<h1>ようこそ！ <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Bookers２へ！！</h1>
			<p>Bookers2では、様々な本の意見や感想を交換することができます。</p>

            <div class="container-fluid" style="background-color: orange; height: 30px; text-align: center; font-size: 20px;">
			<%= link_to "Log In", '/users/sign_in', class: "sign_in" %></div>

			<div class="container-fluid" style="background-color: lime; height: 30px; text-align: center; font-size: 20px;">
			<%= link_to "Sign Up", '/users/sign_up', class: "sign_up" %></div>

		</div>

        <div class="col-lg-3"></div>